html {
    font-size: 62.5%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    background-color: #d3d3d3;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.2rem;
    text-align: center;
    color: #000;
}

.titulo {
    text-align: center;
    font-size: 18px;
    margin-left: 25%;
    background-color: #daa678;
    width: 50%;
    padding: 2rem;
    border: 1px solid #000;
}

.caja{
    position: relative;
    width: 70rem;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
}

.columna_izquierda, .columna_derecha {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nota{
    padding: 2rem;
    width: 20rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.celeste { 
    background-color: #b0fcff;
    padding-bottom: 3rem;
    text-align: end;
    border: rgb(4, 247, 255) solid;
}

.amarillo { 
    background-color: #e5eb97;
    text-align: start;
    border: #eeff00 solid;
}

.rojo { 
    background-color: #ca5647;
    padding-bottom: 3rem;
    text-align: end;
    border: #eb2208 solid;
}

.rosa { 
    background-color: #c27dbc;
    padding-bottom: 3rem;
    text-align: start;
    border: #f381e9 solid;
}

.verde {
    background-color: #98fb98;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    text-align: center;
    border: #09f809 solid;
}
