body {
    font-family: Arial, sans-serif;
    background-image: url(img/milky-way-6657951_1280.jpg);
}

h1{
    color: white;
    margin-left: 13%;
}
.Indice {
    float: left;
    width: 26%;
    overflow: hidden;
    border-color: white;
}

.Indice a:hover{
    background-color: white;
    color: black;
}

.Indice a{
    background-color: rgb(36, 192, 54);
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    
}

* {
    box-sizing: border-box;
    margin-left: 12%;
}
