/* codigo de stilos para las listas numeradas y no numeradas 
    EDGAR DELGADILLO FLORES */
h1 {
    color: blue;
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
}
h3 {
    color:dodgerblue
}
div{
    margin: 0 auto;
    width: 50%;
    padding: 10px;
}